.card-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: space-evenly;
}

@media (prefers-color-scheme: dark) {
  :card {
    --card-background-color: lightgray;
    --card-click-color: darkgray;
    --card-text-color: black;
  }
}

.card {
  --card-background-color: whitesmoke;
  --card-click-color: lightgray;
  --card-text-color: black;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px;
  color: var(--card-text-color);
  border: 2px solid rgb(141, 152, 160);
  background-color: var(--card-background-color);
  border-radius: 16px;
  box-sizing: border-box;
}

.card:hover {
  filter: drop-shadow(0 0 8px lightblue);
}

.card:active {
  background-color: var(--card-click-color);
}

img {
  width: 150px;
}