.card-grid {
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(auto-fit, 200px);
  justify-content: center;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px;
  border: 2px solid rgb(141, 152, 160);
  background-color: rgb(228, 242, 247);
  border-radius: 16px;
  box-sizing: border-box;
}

.card:hover {
  filter: drop-shadow(0 0 8px #00509baa);
}

img {
  width: 150px;
}